doctype html
html(lang="ru-RU")
    head
        title Template Project
        link(rel="stylesheet" type='text/css' href="static/css/main.css")
        // bower:css
        // endbower
    body
        h1 Hello World!

    script(src="static/js/main.js")
    // bower:js
    // endbower